<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Sales Booking DEMO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css">
    <link rel="stylesheet" type="text/css" href="./tui-calendar.css">
    <link rel="stylesheet" type="text/css" href="./css/default.css">
    <link rel="stylesheet" type="text/css" href="./css/icons.css">
    <style>
        .dropdown_create_schedule {
            position: relative;
            display: inline-block;
            left: 0;
        }

        .dropdown_ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            top: 45px;
            width: 178px;
            background-color: white;
            font-weight: bold;
            position: absolute;
            display: none;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown_ul>li a {
            color: #000;
            text-decoration: none;
        }

        .dropdown_ul>li {
            padding: 8px 16px;
            border-bottom: 1px solid #e5e5e5;
        }

        .dropdown_ul>li:last-child {
            border-bottom: none;
        }

        .dropdown_ul>li:hover {
            background-color: #e5e5e5;
            color: white;
        }

        .dropdown_getCalendarList_button {
            width: 178px;
            height: 35px;
            background-color: #D0D0D0;
            padding: 12px;
            border-radius: 5px;
            font-weight: bold;
            border: 1px solid #ced4da;
        }

        .dropdown_getCalendarList_button:before {
            content: "";
            position: absolute;
            width: 0px;
            height: 0px;
            border: 5px solid;
            border-color: white transparent transparent transparent;
            right: 6px;
            top: 18px;
        }

        .test2 {
            width: 10px;
            height: 10px;
            border-radius: 50px;
            position: relative;
        }
    </style>
</head>

<body>
    <div id="top" class="channel" channel=<%=channel %>>
        <h2>
            <%= channel %>
        </h2>
    </div>
    <div id="lnb">
        <div class="lnb-new-schedule">
            <button id="btn-new-schedule" type="button" class="btn btn-default btn-block lnb-new-schedule-btn"
                data-toggle="modal">
                New schedule</button>
        </div>
        <div>
            <div id="calendarTest">
                <select name="" id="sel">
                    <option>adsf
                </select>
            </div>
            <div class="addListArea">
                <input type="text" class="form-control form-control-sm" id="addListInput">
            </div>
        </div>
        <div class="row">
            <select class="form-control form-control-sm col" id="addListColorInput">
                <option></option>
                <option>purple</option>
                <option>blue</option>
                <option>green</option>
                <option>gray</option>
                <option>orange</option>
                <option>red</option>
                <option>yellow</option>
                <option>black</option>
            </select>
            <button class="btn btn-primary col btn-sm" id="addListBtn">Add List</button>
        </div>

        <div id="lnb-calendars" class="lnb-calendars">
            <div>
                <div class="lnb-calendars-item">
                    <label>
                        <input class="tui-full-calendar-checkbox-square" type="checkbox" value="all" checked>
                        <span></span>
                        <strong>View all</strong>
                    </label>
                </div>
            </div>
            <div id="calendarList" class="lnb-calendars-d1">
            </div>
        </div>
        <div class="lnb-footer">

        </div>
    </div>
    <div id="right">
        <div id="menu">
            <span class="dropdown">
                <button id="dropdownMenu-calendarType" class="btn btn-default btn-sm dropdown-toggle" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i id="calendarTypeIcon" class="calendar-icon ic_view_month" style="margin-right: 4px;"></i>
                    <span id="calendarTypeName">Dropdown</span>&nbsp;
                    <i class="calendar-icon tui-full-calendar-dropdown-arrow"></i>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-calendarType">
                    <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-daily">
                            <i class="calendar-icon ic_view_day"></i>Daily
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weekly">
                            <i class="calendar-icon ic_view_week"></i>Weekly
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-monthly">
                            <i class="calendar-icon ic_view_month"></i>Month
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks2">
                            <i class="calendar-icon ic_view_week"></i>2 weeks
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks3">
                            <i class="calendar-icon ic_view_week"></i>3 weeks
                        </a>
                    </li>
                    <li role="presentation" class="dropdown-divider"></li>
                    <li role="presentation">
                        <a role="menuitem" data-action="toggle-workweek">
                            <input type="checkbox" class="tui-full-calendar-checkbox-square" value="toggle-workweek"
                                checked>
                            <span class="checkbox-title"></span>Show weekends
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" data-action="toggle-start-day-1">
                            <input type="checkbox" class="tui-full-calendar-checkbox-square" value="toggle-start-day-1">
                            <span class="checkbox-title"></span>Start Week on Monday
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" data-action="toggle-narrow-weekend">
                            <input type="checkbox" class="tui-full-calendar-checkbox-square"
                                value="toggle-narrow-weekend">
                            <span class="checkbox-title"></span>Narrower than weekdays
                        </a>
                    </li>
                </ul>
            </span>
            <span id="menu-navi">
                <button type="button" class="btn btn-default btn-sm move-today" data-action="move-today">Today</button>
                <button type="button" class="btn btn-default btn-sm move-day" data-action="move-prev">
                    <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm move-day" data-action="move-next">
                    <i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i>
                </button>
            </span>
            <span id="renderRange" class="render-range"></span>
        </div>
        <div id="calendar"></div>

        <!-- 新增委託單 -->
        <div class="modal fade" id="create_schedule_dropdown" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="card-title">
                            <i class="fas fa-edit"></i> 新增委託單
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <div class="dropdown_create_schedule">
                                    <div class="dropdown_getCalendarList_button"> </div>
                                    <ul class="dropdown_ul"></ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">活動名稱</label>
                                <span></span>
                                <input type="text" class="form-control" placeholder="請輸入活動名稱" name="activity"
                                    id="activity">
                            </div>
                            <div class="form-group">
                                <label for="">廣告主</label>
                                <span></span>
                                <input type="text" class="form-control" placeholder="請輸入廣告主" name="advertisers"
                                    id="advertisers">
                            </div>
                            <div class="form-group">
                                <label for="">委刊公司</label>
                                <span></span>
                                <input type="text" class="form-control" placeholder="請輸入委刊公司" name="customer_company"
                                    id="customer_company">
                            </div>
                            <div class="form-group">
                                <label for="">聯絡人</label>
                                <span></span>
                                <input type="text" class="form-control" placeholder="請輸入聯絡人" name="salesperson"
                                    id="salesperson">
                            </div>
                            <div class="form-group">
                                <label for="">類型</label>
                                <select class="form-control" name="ad_tyl" id="ad_type">
                                    <option value="CPM">CPM</option>
                                    <option value="CPC">CPC</option>
                                    <option value="CPL">CPL</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">備註</label>
                                <span></span>
                                <input type="text" class="form-control" name="memo" id="memo">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="create_scedule"
                            data-dismiss="modal">Create</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 委託單內容 -->
        <div class="modal" tabindex="-1" role="dialog" id="click_schedule_dropdown">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="card-title">
                            <i class="fas fa-edit"></i> 委託單內容
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <div class="dropdown_create_schedule">
                                    <div class="dropdown_getCalendarList_button"> </div>
                                    <ul class="dropdown_ul" id="detailEditCalendarList"></ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="modal-title">活動名稱</h5>
                                <input type="text" class="form-control" id="edit_title" placeholder="活動名稱"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group">
                                <div id="edit_time">Time</div>
                            </div>
                            <div class="form-group">
                                <h5 class="modal-title">廣告主</h5>
                                <input type="text" class="form-control" id="edit_advertisers" placeholder="廣告主"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group">
                                <h5 class="modal-title">委刊公司</h5>
                                <input type="text" class="form-control" id="edit_customer_company" placeholder="委刊公司"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group">
                                <h5 class="modal-title">聯絡人</h5>
                                <input type="text" class="form-control" id="edit_salesperson" placeholder="聯絡人"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group">
                                <h5 class="modal-title">類型</h5>
                                <input type="text" class="form-control" id="edit_ad_type" placeholder="類型"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group">
                                <h5 class="modal-title">MEMO</h5>
                                <input type="text" class="form-control" id="edit_memo" placeholder="MEMO"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </form>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary schedule_edit_btn" data-dismiss="modal">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="./js/jquery-3.2.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>
        <script>
            let channel = $('.channel').attr('channel')
        </script>
        <!-- font awesome CSS -->
        <link rel="stylesheet" type="text/css" href="css/fontawesome/fontawesome.css">
        <!-- font awesome JS -->
        <script type="text/javascript" src="./js/fontawesome/fontawesome.js"></script>
        <script src="https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js"></script>
        <script src="https://uicdn.toast.com/tui.time-picker/v2.0.3/tui-time-picker.min.js"></script>
        <script src="https://uicdn.toast.com/tui.date-picker/v4.0.3/tui-date-picker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data.js" integrity="sha512-ECoTMVFwwVtxjEBRjUMjviUd6hBjwDhBJI0+3W2YDs+ld5rHHUDr59T15gxwEPkGu5XLmkASUSvPgQe/Tpyodg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js"></script>
        <script src="./tui-calendar.js"></script>
        <script src="./js/data/calendars.js"></script>
        <script src="./js/data/schedules.js"></script>
        <script src="./js/app.js"></script>
        <script src="./js/socket.js"></script>
        <script>
        </script>
</body>

</html>