<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>委刊單</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/index/all.min.css">
    <link rel="stylesheet" href="css/common/fontawesome.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="css/index/adminlte.min.css">
    <link rel="stylesheet" href="css/index/jquery-ui.min.css">
    <link rel="stylesheet" href="css/common/bootstrap4.min.css">
    <link rel="stylesheet" href="css/index/jquery.scrolling-tabs.min.css">
    <!-- datatables -->
    <link rel="stylesheet" href="css/index/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="css/index/fixedColumns.bootstrap4.min.css">
    <!-- modify style -->
    <link rel="stylesheet" href="css/index/style.css">
    <!-- rwd table -->
    <link rel="stylesheet" href="css/index/rwd.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <%= userName %>
                            <i class="fas fa-user-circle"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <i class="fas fa-sign-out-alt"></i> 登出
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index" class="brand-link">
                <img src="images/logo-old-150x150.jpg" alt="" class="brand-image pt-1">
                <span class="brand-text"><img src="images/logo-text-white.png" class="h30"></span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="true">
                        <li class="nav-item  menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-copy"></i>
                                <p> 委刊單管理
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>委刊單</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/reserveOrder" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>預約排程</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="customer" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>客戶資料</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="position" class="nav-link">
                                <i class="nav-icon far fa-eye"></i>
                                <p>廣告版面</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="channel" class="nav-link">
                                <i class="nav-icon fas fa-photo-video"></i>
                                <p>頻道管理</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="privilege" class="nav-link">
                                <i class="nav-icon fas fa-user-cog"></i>
                                <p>帳號管理</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="order"><i class="fa fa-home"></i> 委刊單</a>
                                </li>
                            </ol>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Main row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-warning card-outline">
                                <form>
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="row">
                                                <div class="col-md-4 col-xl-3 form-group">
                                                    <input class="form-control bg-search light-table-filter"
                                                        data-table="order-table" type="text" placeholder="搜尋">
                                                </div>
                                                <div class="col-md-4 col-xl-2 form-group">
                                                    <button class="btn btn-primary" type="button">搜尋委刊單</button>
                                                </div>
                                                <div class="col-md-4 col-xl-2 form-group">
                                                    <a href="order-add">
                                                        <button class="btn btn-primary" type="button">新增委刊單</button>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade show active" id="tab1">
                                                <div class="data-table">
                                                    <table class="table rwdtb-scroll nowrap hover order-table"
                                                        style="width: 100%;" id="editTable">
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (main row) -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            &copy; 2020 <a href="https://www.nownews.com/">NOWnews今日新聞</a>. All rights reserved.
            <!--<div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.5
      </div>-->
        </footer>

        <!-- 委託單內容 -->
        <div class="modal" tabindex="-1" role="dialog" id="orderDetailModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="card-title">
                            <i class="fas fa-edit"></i> 委託單詳細內容
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="detailTable rwdtb-scroll nowrap hover order-table"></table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="js/common/jquery-3.2.1.min.js"></script>
    <script src="js/index/jquery-ui.min.js"></script>
    <!-- bstable -->
    <script src="js/index/bstableCustomer.js"></script>
    <!-- tableSearch -->
    <script src="js/index/tableSearch.js"></script>
    <!-- moment -->
    <script src="js/index/moment.js"></script>
    <!-- Bootstrap 4 -->
    <script src="js/index/bootstrap.bundle.min.js"></script>
    <script src="js/index/jquery.scrolling-tabs.min.js"></script>
    <!-- AdminLTE App -->
    <script src="js/index/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="js/index/demo.js"></script>
    <!-- datatables-->
    <script src="js/index/jquery.dataTables.min.js"></script>
    <script src="js/index/dataTables.fixedColumns.min.js"></script>
    <!-- modify js -->
    <script src="js/index/script.js"></script>
    <!-- fontawesom -->
    <script src="js/common/fontawesome.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
        let delId = ''
        let isDel = ''

        getOrder()
        async function getOrder() {
            let innerHTML = ''
            let innerDetailOrderHTML = ''
            await fetch('/getOrder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(res => res.json()).then(res => {
                innerHTML +=
                    `<thead>
                        <tr class="tr-main">
                            <th scope="col">委刊單</th>
                            <th scope="col">客戶名稱</th>
                            <th scope="col">活動名稱</th>
                            <th scope="col">類型</th>
                            <th scope="col">業務</th>
                            <th scope="col">備註</th>
                        </tr>
                    </thead>
                    <tbody class="renderTable">
                    `;
                for (let item = 0; item < res.allOrder.length; item++) {
                    innerHTML +=
                        ` 
                        <tr delId="${res.allOrder[item].id}">
                            <td scope="row" data-th="委刊單" cal="orderId">${res.allOrder[item].id}</td>
                            <td data-th="客戶名稱" cal="advertisers">${res.allOrder[item].advertisers}</td>
                            <td data-th="活動名稱" cal="title">${res.allOrder[item].title}</td>
                            <td data-th="類型" cal="ad_type">${res.allOrder[item].ad_type} </td>
                            <td data-th="業務" cal="salesperson">${res.allOrder[item].salesperson}</td>
                            <td data-th="備註" cal="memo">${res.allOrder[item].memo}</td>
                        </tr>
                    `;

                }
                innerHTML += `</tbody>`
                $('.table').html(innerHTML)
                var editOrderTable = new BSTable("editTable", {
                    onDelete: async function (button) {
                        console.log('testset');
                        await fetch('/delete_order', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                "delId": delId,
                            })
                        }).then(res => res.json()).then(res => {
                            console.log(res);
                        })

                    },
                });
                editOrderTable.init()
                $(".renderTable>tr").find('td:last').css("background-color", "#ffce2d");

                $('.orderDetail').click(async function () {
                    console.log('click order detail');
                    console.log(delId);
                    $('#orderDetailModal').modal('show');
                    innerDetailOrderHTML = ''
                    await fetch('/detail_order', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            "delId": delId,
                        })
                    }).then(res => res.json()).then(res => {
                        innerDetailOrderHTML +=
                            `<thead>
                        <tr class="tr-main">
                            <th scope="col">廣告版位</th>
                            <th scope="col">刊登方式</th>
                            <th scope="col">時間</th>
                        </tr>
                    </thead>
                    <tbody class="renderTable">
                    `;
                        for (let item = 0; item < res.getDetailData.length; item++) {
                            innerDetailOrderHTML +=
                                ` 
                        <tr>
                            <td scope="row" data-th="廣告版位" cal="orderId">${res.getDetailData[item].name}</td>
                            <td data-th="刊登方式" cal="advertisers">${res.getAdType}</td>
                            <td data-th="時間" cal="title">${moment(res.getDetailData[item].start).format('YYYY-MM-DD')} ~ ${moment(res.getDetailData[item].end).format('YYYY-MM-DD')}</td>
                        </tr>
                    `;

                        }
                        innerDetailOrderHTML += `</tbody>`
                        $('.detailTable').html(innerDetailOrderHTML)

                        console.log(res);
                    })

                })

                let orderId = '',
                    advertisers = '',
                    title = '',
                    ad_type = '',
                    salesperson = '',
                    memo = '';

                $('.btn-group').delegate("#bAcep", "click", async function () {
                    let currentRow = $(this).parents('tr');
                    currentRow.find('td').each(function () {
                        orderId = $(this).parent().find("td[cal=orderId]").text()
                        advertisers = $(this).parent().find("td[cal=advertisers]").text()
                        title = $(this).parent().find("td[cal=title]").text()
                        ad_type = $(this).parent().find("td[cal=ad_type]").text()
                        salesperson = $(this).parent().find("td[cal=salesperson]").text()
                        memo = $(this).parent().find("td[cal=memo]").text()
                    })
                    await fetch('/update_order', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            "orderId": orderId,
                            "advertisers": advertisers,
                            "title": title,
                            "ad_type": ad_type,
                            "salesperson": salesperson,
                            "memo": memo,
                        })
                    }).then(res => res.json()).then(res => {
                        console.log(res);
                    })
                })
            })
        }

    </script>
</body>

</html>