<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>委刊單</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/index/all.min.css">
    <link rel="stylesheet" href="css/common/fontawesome.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="css/index/adminlte.min.css">
    <link rel="stylesheet" href="css/index/jquery-ui.min.css">
    <link rel="stylesheet" href="css/common/bootstrap4.min.css">
    <link rel="stylesheet" href="css/index/jquery.scrolling-tabs.min.css">
    <!-- datatables -->
    <link rel="stylesheet" href="css/index/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="css/index/fixedColumns.bootstrap4.min.css">
    <!-- modify style -->
    <link rel="stylesheet" href="css/index/style.css">
    <!-- validate style -->
    <link rel="stylesheet" href="css/index/validate.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <%= userName %>
                            <i class="fas fa-user-circle"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <i class="fas fa-sign-out-alt"></i> 登出
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index" class="brand-link">
                <img src="images/logo-old-150x150.jpg" alt="" class="brand-image pt-1">
                <span class="brand-text"><img src="images/logo-text-white.png" class="h30"></span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                        <li class="nav-item">
                            <a href="order" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p> 委刊單管理
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="order" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>委刊單</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/orderReserve" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>預約排程</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="customer" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>客戶資料</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="position" class="nav-link active">
                                <i class="nav-icon far fa-eye"></i>
                                <p>廣告版面</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="channel" class="nav-link">
                                <i class="nav-icon fas fa-photo-video"></i>
                                <p>頻道管理</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="privilege" class="nav-link">
                                <i class="nav-icon fas fa-user-cog"></i>
                                <p>帳號管理</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="position-add"><i class="fa fa-home"></i> 廣告版面</a>
                                </li>
                                <li class="breadcrumb-item">新增版位</li>
                            </ol>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Main row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header card-warning card-outline">
                                    <h3 class="card-title">
                                        <i class="fas fa-edit"></i> 新增版位
                                    </h3>
                                </div>
                                <form class="form-horizontal" role="form" action="/create_position" method="post" onsubmit="" id="form">
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="">版位名稱</label>
                                                    <span></span>
                                                    <input type="text" class="form-control" placeholder="請輸入版位名稱" name="name" id="name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">頻道名稱</label>
                                                    <div class="dropdown">
                                                        <select class="form-control dropdown-toggle channelName" name="channelId" id="channelId" data-toggle="dropdown"></select>
                                                        <ul class="dropdown-menu"></ul>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">版位顏色</label>
                                                    <select class="form-control" name="color" id="color">
                                                        <option></option>
                                                        <option>purple</option>
                                                        <option>blue</option>
                                                        <option>green</option>
                                                        <option>gray</option>
                                                        <option>orange</option>
                                                        <option>red</option>
                                                        <option>yellow</option>
                                                        <option>black</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">輪替數</label>
                                                    <span></span>
                                                    <input type="text" class="form-control" placeholder="請輸入輪替數" name="rotation" id="rotation">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">備註</label>
                                                    <span></span>
                                                    <input type="text" class="form-control" name="memo" id="memo">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">狀態</label>
                                                    <select class="form-control" name="status" id="status">
                                                        <option value="1">正常</option>
                                                        <option value="0">停用</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-6">
                                            <button type="submit" class="btn btn-primary btn-lg btn-block">送出</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (main row) -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            &copy; 2020 <a href="https://www.nownews.com/">NOWnews今日新聞</a>. All rights reserved.
            <!--<div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.5
      </div>-->
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="js/common/jquery-3.2.1.min.js"></script>
    <script src="js/index/jquery-ui.min.js"></script>
    <!-- validate -->
    <script src="js/index/validate.js"></script>
    <!-- Bootstrap 4 -->
    <script src="js/index/bootstrap.bundle.min.js"></script>
    <script src="js/index/jquery.scrolling-tabs.min.js"></script>
    <!-- AdminLTE App -->
    <script src="js/index/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="js/index/demo.js"></script>
    <!-- datatables-->
    <script src="js/index/jquery.dataTables.min.js"></script>
    <script src="js/index/dataTables.fixedColumns.min.js"></script>
    <!-- modify js -->
    <script src="js/index/script.js"></script>
    <!-- fontawesom -->
    <script src="js/common/fontawesome.js"></script>
    <script>
        renderChannel()
        async function renderChannel() {
            await fetch('/renderChannel', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            }).then(res => res.json()).then((allChannel) => {
                console.log(allChannel.channel);
                $.each(allChannel.channel, function(index, val) {
                    console.log(val.name);
                    $('.channelName').append(
                        `
                            <option class="dropdown-item" value=` + val.link + "&&" + val.name + "&&" + val.domain + `>` + val.name + `</option>
                        `
                    );
                })
            })
        }
        $(function() {
            // jQuery Validation Plugin 的Twitter BootStrap 3 支援
            $.validator.setDefaults({
                highlight: function(element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function(error, element) {
                    if (element.parent('.controls').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
            // jQuery Validation Plugin的套用
            $('#form').validate({
                rules: {
                    name: "required",
                    channelId: "required",
                    rotation: {
                        required: true,
                    },
                    color: "required",
                },
                messages: {
                    name: "請輸入版位名稱",
                    channelId: "請輸入頻道名稱",
                    color: "請輸入版位顏色",
                    rotation: "請輸入輪替數",
                }
            });
        });
        $(function() {
            $(".datepicker").datepicker();
        });
    </script>
</body>

</html>