<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>廣告版面</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/index/all.min.css">
    <link rel="stylesheet" href="css/common/fontawesome.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="css/index/adminlte.min.css">
    <link rel="stylesheet" href="css/index/jquery-ui.min.css">
    <link rel="stylesheet" href="css/common/bootstrap4.min.css">
    <link rel="stylesheet" href="css/index/jquery.scrolling-tabs.min.css">
    <!-- datatables -->
    <link rel="stylesheet" href="css/index/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="css/index/fixedColumns.bootstrap4.min.css">
    <!-- modify style -->
    <link rel="stylesheet" href="css/index/style.css">
    <!-- rwd table -->
    <link rel="stylesheet" href="css/index/rwd.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link userType" value='<%= userType %>' href="#">
                        <%= userName %>
                            <i class="fas fa-user-circle"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <i class="fas fa-sign-out-alt"></i> 登出
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index" class="brand-link">
                <img src="images/logo-old-150x150.jpg" alt="" class="brand-image pt-1">
                <span class="brand-text"><img src="images/logo-text-white.png" class="h30"></span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="true">
                        <li class="nav-item">
                            <a href="order" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p> 委刊單管理
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="order" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>委刊單</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/orderReserve" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>預約排程</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="customer" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>客戶資料</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon far fa-eye"></i>
                                <p>廣告版面</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="channel" class="nav-link">
                                <i class="nav-icon fas fa-photo-video"></i>
                                <p>頻道管理</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="privilege" class="nav-link <%= superUserInvisible %>">
                                <i class="nav-icon fas fa-user-cog"></i>
                                <p>帳號管理</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="position"><i class="fa fa-home"></i> 廣告版面</a>
                                </li>
                            </ol>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Main row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-warning card-outline">
                                <form>
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="row">
                                                <div class="col-md-4 col-xl-3 form-group">
                                                    <input class="form-control bg-search light-table-filter"
                                                        data-table="order-table" type="text" placeholder="搜尋">
                                                </div>
                                                <div class="col-md-4 col-xl-2 form-group">
                                                    <button class="btn btn-primary" type="button">搜尋版位</button>
                                                </div>
                                                <div class="col-md-4 col-xl-2 form-group">
                                                    <a href="position-add">
                                                        <button class="btn btn-primary" type="button">新增版位</button>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade show active" id="tab1">
                                                <div class="data-table">
                                                    <table class="table rwdtb-scroll nowrap hover order-table dataTable"
                                                        id="editTable" style="width: 100%;">
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (main row) -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            &copy; 2020 <a href="https://www.nownews.com/">NOWnews今日新聞</a>. All rights reserved.
            <!--<div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.5
      </div>-->
        </footer>
        <!-- 廣告版位編輯頁面 -->
        <div class="modal fade bd-example-modal-lg" aria-labelledby="myLargeModalLabel" tabindex="-1" role="dialog"
            id="positionEditModal">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="card-title">
                            <i class="fas fa-edit"></i> 廣告版位編輯頁面
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" action="/update_position" method="post" onsubmit=""
                            id="form">
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="card-body">
                                        <div class="form-group d-none">
                                            <input type="text" class="form-control" name='calId' id='calId'></input>
                                        </div>
                                        <div class="form-group">
                                            <label for="">版位名稱</label>
                                            <input type="text" class="form-control" placeholder="請輸入版位名稱" name="name"
                                                id="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="">頻道名稱</label>
                                            <div class="dropdown">
                                                <select class="form-control dropdown-toggle channelName" name="channel"
                                                    id="channel" data-toggle="dropdown"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="">版位顏色</label>
                                            <select class="form-control bgColor" name="color" id="color">

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="">輪替數</label>
                                            <span></span>
                                            <input type="text" class="form-control" placeholder="請輸入輪替數" name="rotation"
                                                id="rotation">
                                        </div>
                                        <div class="form-group">
                                            <label for="">備註</label>
                                            <span></span>
                                            <input type="text" class="form-control" name="memo" id="memo">
                                        </div>
                                        <div class="form-group">
                                            <label for="">狀態</label>
                                            <select class="form-control positionStatus" name="status" id="status">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">編輯</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="js/common/jquery-3.2.1.min.js"></script>
    <script src="js/index/jquery-ui.min.js"></script>
    <!-- tableSearch -->
    <script src="js/index/tableSearch.js"></script>
    <!-- Bootstrap 4 -->
    <script src="js/index/bootstrap.bundle.min.js"></script>
    <script src="js/index/jquery.scrolling-tabs.min.js"></script>
    <!-- AdminLTE App -->
    <script src="js/index/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="js/index/demo.js"></script>
    <!-- datatables-->
    <script src="js/index/jquery.dataTables.min.js"></script>
    <script src="js/index/dataTables.fixedColumns.min.js"></script>
    <!-- modify js -->
    <script src="js/index/script.js"></script>
    <!-- fontawesom -->
    <script src="js/common/fontawesome.js"></script>
    <script>
        let delId = ''
        let isDel = ''

        getPosition()
        async function getPosition() {
            let innerHTML = ''
            await fetch('/getPosition', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(res => res.json()).then(res => {
                innerHTML +=
                    `<thead>
                        <tr class="tr-main">
                            <th scope="col">名稱</th>
                            <th scope="col">頻道</th>
                            <th scope="col">輪替數</th>
                            <th scope="col">執行的總計</th>
                            <th scope="col">備註</th>
                            <th scope="col">狀態</th>
                            <th style="text-align: center;">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="renderTable">
                    `;
                for (let item = 0; item < res.allPosition.length; item++) {
                    if (res.allPosition[item].status == '1') { res.allPosition[item].status = '啟用' } else res.allPosition[item].status = '停用'
                    innerHTML +=
                        ` 
                        <tr delId="${res.allPosition[item].id}">
                            <td scope="row" data-th="名稱" cal="name" calId="${res.allPosition[item].id}">${res.allPosition[item].name}</td>
                            <td data-th="頻道" cal="channel" channelId="${res.allPosition[item].channelId}" channelDomain="${res.allPosition[item].channelDomain}">${res.allPosition[item].channelName}</td>
                            <td data-th="輪替數" cal="rotation">${res.allPosition[item].rotation}</td>
                            <td data-th="執行的總計" cal="calNumbers">${res.allCalendarIdNumbers[item]}</td>
                            <td data-th="備註" cal="memo">${res.allPosition[item].memo}</td>
                            <td data-th="狀態" cal="status">${res.allPosition[item].status}</td>
                            <td class="d-none" data-th="顏色" cal="bgColor">${res.allPosition[item].bgColor}</td>
                            <th editId="${res.allPosition[item].id}">
                                <button type="button" class="btn btn-sm btn-default"><span class="fa fa-edit positionEditBtn"></span></button>
                                <button type="button" class="btn btn-sm btn-default"><span class="fa fa-trash-alt positionDelBtn"></span></button>
                            </th>
                        </tr>
                    `;
                }
                innerHTML += `</tbody>`
                $('.table').html(innerHTML)

                let editId = ''
                $('.positionDelBtn').click(async function () {
                    editId = $(this).parents('th').attr('editId')
                    let isDel = confirm('確定刪除 ' + delId + ' ?')
                    if (isDel) {
                        $(this).parent().parent().parent().remove()
                        await fetch('/delete_position', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                "delId": editId,
                            })
                        })
                    }
                })

                $('.positionEditBtn').click(async function () {
                    editId = $(this).parents('th').attr('editId')
                    $('#calId').val(editId)

                    //編輯時 render 預設channel 包含欄位(id,name,domain)
                    let channelName = $(this).parents('tr').find("td[cal=channel]").text()
                    let channelId = $(this).parents('tr').find("td[cal=channel]").attr('channelId')
                    let channelDomain = $(this).parents('tr').find("td[cal=channel]").attr('channelDomain')
                    $('.channelName').find('option').remove()
                    $('.channelName').append(`<option class="dropdown-item" value=` + channelId + "&&" + channelName + "&&" + channelDomain + `>` + channelName + `</option>`);
                    await renderChannel()

                    //編輯時 render 其他預設欄位
                    $('.bgColor').find('option').remove()
                    let bgColor = $(this).parents('tr').find("td[cal=bgColor]").text()
                    let colorArray = [bgColor, 'purple', 'blue', 'green', 'gray', 'orange', 'red', 'yellow', 'black']
                    $.each(colorArray, function (index, val) {
                        $('.bgColor').append(`<option class="dropdown-item" value=` + val + `>` + val + `</option>`)
                    })
                    $('#name').val($(this).parents('tr').find("td[cal=name]").text())
                    $('#rotation').val($(this).parents('tr').find("td[cal=rotation]").text())
                    $('#memo').val($(this).parents('tr').find("td[cal=memo]").text())
                    $('#status').val($(this).parents('tr').find("td[cal=status]").text())

                    let status = $(this).parents('tr').find("td[cal=status]").text()
                    let statusArray = []
                    if (status == '啟用') { statusArray = [status, '停用'] } else if (status == '停用') { statusArray = [status, '啟用'] }
                    let positionStatus = ''
                    $('#status').val(status)
                    $('.positionStatus').find('option').remove()
                    $.each(statusArray, function (index, val) {
                        if (val == '啟用') { positionStatus = '1' } else positionStatus = '0'
                        $('.positionStatus').append(`<option class="dropdown-item" value=` + positionStatus + `>` + val + `</option>`)
                    })

                    //顯示編輯table
                    $('#positionEditModal').modal('show');
                })

                async function renderChannel() {
                    await fetch('/renderChannel', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({})
                    }).then(res => res.json()).then((allChannel) => {
                        $.each(allChannel.channel, function (index, val) {
                            $('.channelName').append(`<option class="dropdown-item" value=` + val.link + "&&" + val.name + "&&" + val.domain + `>` + val.name + `</option>`);
                        })
                    })
                }
            })
        }
    </script>
</body>

</html>