@media (max-width: 767px) {
    .rwdtb-scroll {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        box-shadow: 0 2px 45px rgb(0 0 0 / 9%);
    }
}