.dropdown_create_schedule {
    position: relative;
    display: inline-block;
    left: 0;
}

.dropdown_calendar_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 178px;
    background-color: white;
    font-weight: bold;
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown_calendar_ul>li a {
    color: #000;
    text-decoration: none;
}

.dropdown_calendar_ul>li {
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;
}

.dropdown_calendar_ul>li:last-child {
    border-bottom: none;
}

.dropdown_calendar_ul>li:hover {
    background-color: #e5e5e5;
    color: white;
}

.dropdown_getCalendarList_button {
    width: 180px;
    height: 35px;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #ced4da;
}

.dropdown_getCalendarList_button:before {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
}

.calListStyle {
    width: 14px;
    height: 14px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
}

.dropDownName{
    display: inline-block;
    text-align: left;
}